.panel {
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 16px;
    width: 100%;
    height: auto;
    border-radius: 16px;
    border: 1px solid #d1d1d1;
    padding: 24px;    
}

.caption {
    color: #6b6b6b;
    text-align: left;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px !important;
}